span.glyphicon{
	margin-right: 10px;
	margin-left: 15px;
}
.bg-primary{
	background: black !important;
}


/*header*/
.btn-search{
	padding: 0px;
	padding: 10px;
	margin-left: -5px;
	width: auto !important; 
	outline: none !important;
}
	.btn-search span{
		display: table-row;
	}
.nav-item{
	min-width: 122px !important;
}
.form-inline-nav{

	min-width: 408px !important;
}

.nav-user-name{
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	max-width: 65px !important;
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;	
}

.btn span{
	margin: 0px;
}


.alert{
	right: 20px;
	padding-top: 5px;
	bottom: 20px;
}
	.alert p{
		vertical-align: middle;
		line-height: 0px;
		margin-bottom: 0px;
	}
	.alert span{
		margin: 0px;
		vertical-align: top;
	}
	.alert button{
		outline: none !important;
		padding: 6px !important;
	}