<script type="text/javascript">
	$('.content-page').empty();
	var movieElement = "";
	console.log(db.favoritesList.length)
	if (db.favoritesList.length < 1) {
		movieElement = `<p>You hadn't add something here yet!</p>`;
	}else{
		db.favoritesList.forEach(function (movie, index) {
			
			movieElement += `<div class="sff card col-xs-12 col-sm-12 col-md-4 d-inline-block">
			  <img src="${movie.img}"  class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">${movie.name}</h5>
			    <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-card option-l btn-primary col-xs-1 d-inline-block"><span class="glyphicon glyphicon-eye-open"></span></a><a href="#" class="btn isFav btn-card option-m btn-primary col-xs-1 d-inline-block"><span class="glyphicon glyphicon-star"></span></a><a href="#" class="btn btn-card btn-outline-none option-r btn-primary col-xs-1 d-inline-block"><span class="	glyphicon glyphicon-list"></span></a>
			  </div>
			</div>`;
		});
	}
	$('.content-page').append(movieElement);
</script>
