<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<img src="images/logo.png" height="60px">
		<a class="navbar-brand" href="#">MoviesApp</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item btn-menu active">
			    <a class="nav-link" href="home"><span class="glyphicon glyphicon-home"></span>Home</a>
			  </li>
			  <li class="nav-item btn-menu">
			    <a class="nav-link" href="movies"><span class="glyphicon glyphicon-book"></span>Movies</a>
			  </li>
			  <li class="nav-item btn-menu">
			    <a class="nav-link" href="tvseries"><span class="glyphicon glyphicon-film"></span>TV Series</a>
			  </li>
			  <li class="nav-item btn-menu">
			    <a class="nav-link" href="favorites"><span class="glyphicon glyphicon-star"></span>Favorites</a>
			  </li>
			</ul>

			<ul class="navbar-nav col-2 my-2 my-lg-0">
			  <li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      <span class="glyphicon glyphicon-user"></span><p class="nav-user-name">Raúl Moreno</p>
			    </a>
			    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			      <a class="dropdown-item btn-menu" href="misdatos">Mis datos</a>
			      <a class="dropdown-item btn-menu" href="misamigos">Mis amigos</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item btn-close-session" href="#">Cerrar Sesión</a>
			    </div>
			  </li>
			</ul>
		</div>
</nav>