<div class="scroll">
	<div class="media other">
	  <img src="./images/profiles/1.jpg" class="mr-3" alt="profile-image" width="60">
	  <div class="media-body">
	    <h5 class="mt-0">Andrés Rivera</h5>
	    That movie is awsome!
	  </div>
	</div>
	<div class="media mine">
	  <img src="./images/profiles/2.jpg" class="mr-3" alt="profile-image" width="60">
	  <div class="media-body">
	    <h5 class="mt-0">Sebastián Sosa</h5>
	    That movie is awsome!
	  </div>
	</div>
	<div class="media other">
	  <img src="./images/profiles/3.jpg" class="mr-3" alt="profile-image" width="60">
	  <div class="media-body">
	    <h5 class="mt-0">Martina Pérez</h5>
	    That movie is awsome!
	  </div>
	</div>
	<div class="media other">
	  <img src="./images/profiles/1.jpg" class="mr-3" alt="profile-image" width="60">
	  <div class="media-body">
	    <h5 class="mt-0">Andrés Rivera</h5>
	    That movie is awsome!
	  </div>
	</div>
</div>

